html {
    font-family: 'News Cycle', sans-serif;
    margin: 0 70px;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #333;
    padding: 20px;
}

header h1 {
    display: flex;
    margin: 0;
}

/* -- logo design start -- */
.logo-darker {
    padding: 2px;
    background-color: #333;
    color: #fff;
}

.logo-lighter {
    padding: 2px;
    background-color: #555;
    color: #fff;
}

/* -- logo design end -- */

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
}

header nav ul li a:hover {
    color: #FB1417;
}

.main-article {
    width: 100%;
    height: 500px;
}

.main-article-details {
    display: flex;
    justify-content: end;
    flex-direction: column;
    background-image: url("assets/space.jpg");
    background-color: #cccccc;
    height: 100%;
    margin: 20px;
}

.main-article-headline {
    color: #fff;
    padding: 20px;
    margin: 0;
}

.main-article-summary {
    color: #fff;
    padding: 0 20px 20px 20px;
    margin: 0;
    width: 30%;
}

.articles {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.left-col {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.left-col-articles {
    display: flex;
    flex-wrap: wrap;
}

.article-latest {
    display: flex;
    flex-direction: column;
    margin: 50px;
    width: 40%;
}

.article-latest-main {
    display: flex;
    justify-content: space-between;
}

.right-col {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.article-breaking {
    display: flex;
    margin: 40px 0;
    width: 100%;
}

.article-breaking-image {
    width: 30%;
    object-fit: contain;
}

.article-breaking-main {
    width: 70%;
    margin: 0 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #555;
    color: #fff;
    padding: 20px;
    font-size: large;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.categories {
    width: 30%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin: 40px 80px;
}

.categories ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    text-decoration: underline;
}

.categories a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.about {
    /* width: 70%; */
    margin: 40px;
}

.about-title {
    margin-bottom: 15px;
}

.page-headline {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    margin: 40px 0;
}

.page-articles {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-section {
    width: 70%;
    margin-bottom: 30px;
}

.article-igm {
    width: 100%;
    object-fit: contain;
}
